In [5]:
import os
import sys
import time
import numpy as np
import matplotlib.pyplot as plt

module_path = os.path.abspath(os.path.join('../fusion'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [6]:
from preprocessing_datasets.preprocessing_book import *
from preprocessing_datasets.preprocessing_utilities import ValueUtils

# Clean book

In [14]:
start_time = time.time()
clean_book = clean_book()
print("total time: {0}".format(time.time() - start_time))

total time: 630.5207307338715

In [16]:
clean_book = clean_book[['ISBN_10', 'title', 'author', 'big_cate']]

In [17]:
clean_book

,ISBN_10,title,author,big_cate
0,0000219118,"The Journal of Asian Studies, Volume 47, Numbe...","[Association for Asian Studies, Inc]",history-books
1,0000219118,The Journal of Asian Studies,"[The Association for Asian Studies, Inc]",history-books
2,0000788589,Late Oligocene - Early Miocene Spores and Poll...,"[Pocknall, D. T. And D. C. Mildenhall, Pocknal...",science-books
3,0000788589,Late Oligocene - Early Miocene Spores and Poll...,"[Pocknall, D. T. And D. C. Mildenhall, Pocknal...",science-books
4,0000788589,Fossil Barnacles (Cirripedia: Thoracica) of Ne...,"[Buckeridge, John Stewart]",science-books
...,...,...,...,...
2199026,9994533150,Indian Arts and Crafts,"[Tanner, Clara Lee]",literature
2199027,9994533150,Indian Arts and Crafts,[Clara Lee Tanner],literature
2199028,9994533150,Indian Arts and Crafts,"[Tanner, Clara Lee]",literature
2199029,9998111552,RN; The Memoirs of Richard Nixon,"[Nixon, Richard M.]",history-books
2199030,9998111552,The Memoirs of Richard Nixon,[Richard Nixon],history-books

In [20]:
#clean_book.to_csv('books_cleaned.csv', index=False)

# Merged book

In [8]:
data = pd.read_csv('../fusion/source_datasets/books/books_merged.csv', dtype='str')
data = data[['ISBN_10', 'title', 'authors', 'big_cate', 'small_cate', 'publisher']]
data['numberOfAuthors'] = data['authors'].map(lambda x: len(ValueUtils.split_values(x)))
data['dirtyAuthor'] = data['authors'].map(lambda x: ValueUtils.split_values(x))
data = data.explode('dirtyAuthor')
data['author'] = data['dirtyAuthor'].map(lambda x: ValueUtils.clean_value(x))
data = data[['ISBN_10', 'title', 'author', 'big_cate', 'small_cate', 'publisher']]

In [9]:
data

,ISBN_10,title,author,big_cate,small_cate,publisher
0,0001361589,Noddys Rainy Day Activity Book,blyton enid,childrens-fiction-young-adult,enid-blyton,HarperCollinsChildrensBooks
1,0001361589,Fun With Noddy Summer Activity Book. Noddy's T...,blyton enid,childrens-fiction-young-adult,enid-blyton,BBC Childrens Books
2,0001380451,Fun And Games With Paddington,bond michael,childrens-fiction-young-adult,childrens-series,Collins
3,0001380451,FUN AND GAMES WITH PADDINGTON,bond michael,childrens-fiction-young-adult,childrens-series,"Collins, London"
4,0001380451,Fun and Games with Paddington,bond michael,childrens-fiction-young-adult,childrens-series,Collins
...,...,...,...,...,...,...
2245345,9979940417,Iceland : The New Millennium Series,isberg jon olafur,travel-books,adventure-travel,None
2245345,9979940417,Iceland : The New Millennium Series,granz olafur,travel-books,adventure-travel,None
2245346,9984592774,Riga - Journey Through The Centuries,andris lamsters,travel-books,travel-guides,Madris
2245347,9986830494,"Lithuania: Nature, Traditions, Culture, Cities",a kairiene,travel-books,exploration,R Paknis leidykla
2245348,9990894108,Walks of Life: The Other Side of Malawi,mutisunge phoya,travel-books,adventure-travel,"Central Africana Limited, Blantyre, Malawi"

In [ ]:
#data.to_csv('books_merged_cleaned.csv', index=False)